[Unit]
Description=Catalogue Daemon Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/com.fyralabs.Catalogue-daemon
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
