/* styles/catalogue.css
 *
 * Copyright 2022 Fyra Labs
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

.stack-remove-sidebar {
    border-right: none;
}

.tile-accessories {
    background: #F8D8E2;
	color: #90183D;
}
.tile-internet {
    background: #EDF6FE;
	color: #0453A4;
}
.tile-develop {
    background: #FFF6E1;
	color: #A87801;
}
.tile-games {
    background: #E5E1FF;
	color: #1B07A2;
}
.tile-create {
    background: #FFF6EF;
	color: #A24806;
}
.tile-work {
    background: #EDF8F5;
	color: #2E7A68;
}

.skeleton {
    background: mix(@view_fg_color, @view_bg_color, 0.88);
    color: mix(@view_fg_color, @view_bg_color, 0.80);
}

.skeleton label {
    color: mix(@view_fg_color, @view_bg_color, 0.80);
	letter-spacing: -1px;
}

.search box {
	background:none;
	box-shadow: none;
}

.search entry {
	border-radius: 999px;
	min-width: 300px;
}

.list-button {
	padding: 8px 24px;
}

.banner-app {
    background: @accented_color;
    color: @accented_fg_color;
}
.banner-app button {
    background: linear-gradient(0deg, alpha(@accented_fg_color, 0.08), alpha(@accented_fg_color, 0.08));
    color: @accented_fg_color;
}
.banner-app button:hover {
    background: linear-gradient(0deg, alpha(@accented_fg_color, 0.11), alpha(@accented_fg_color, 0.11));
    color: @accented_fg_color;
}
.banner-app button:active {
    background: linear-gradient(0deg, alpha(@accented_fg_color, 0.08), alpha(@accented_fg_color, 0.08));
    color: @accented_fg_color;
}